<!-- views/partials/header.ejs -->
<!-- hmlt 의 head 부분 (//master.css가지고 있다.)웨페이지의 제목 정보를 담고 있다 -->
<meta charset = 'utf-8'>
<link rel="stylesheet" href="/stylesheets/master.css">
<title>My App</title>